<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--       <link rel="stylesheet" href="css/easy-autocomplete.min.css">  -->
<meta name="description" content="Find the Live Train Status of running trains across India.The best, easiest and modern way to check live train status in India.Works on mobile as well. ">
    </head>
<title>Live Train Status - Find train running status</title>
    <body>

    <div style="background-image: url(img/website-bg.jpg);">

      <!--Import jQuery before materialize.js-->
<div class="container" style="padding-top: 50px" ></div>
      <div class="row" ng-app="LiveTRStApp" ng-controller="MainController">
      <div class="col s12 m4"></div>
      <div class="col s12 m4 center">
          <div class="card-panel">
          <img src="img/train.png" class="card-circle circle responsive-img">
          <h3 class="orange-text center bold" style="font-family: 'Roboto', sans-serif;">Live Train Status</h3>
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
        <div class="row">
          <div class="input-field center col s12">
            <input id="trainnumber" ng-model="trainNumber" type="text">
            <label for="trainnumber" class="blue-text" > Enter Train Number / Train Name</label>
          </div>
          <div class="row">
           <div class="input-field col s12">
<select class="browser-default" ng-model="options">
    <label class="grey-text">Choose Date</label>
    <option value="" disabled selected>Choose Date</option>
        <option value="2" id="tommorow">Option 2</option>
        <option value="1" id="today">Option 1</option>
       <option value="3" id="yesterday">Option 3</option>
       <option value="4" id="day_before_yesterday">Option 4</option>
       <option value="5" id="twodays_before_yesterday">Option 5</option>
      <option value="6" id="threedays_before_yesterday">Option 5</option>
  </select>
  </div>
  </div>
<a class="waves-effect orange waves-light btn-large pulse" ng-click="getResult()">Get Live Status</a>

            </div>
            </div>
          </div>
          </div>
</div>
</div>
<div id="content" class="section scrollspy">
<div class="container">
  <div class="row">
    <h4 style="font-family :sans-serif"> Why to Use TrainStatusHub to check online Live Train Status?</h4>
    <div class="divider"></div>
    <p style="font-family :sans-serif" >Its been always a difficult and annoying procedure to call or sms and to know the status of Train. Some times the passenger is on the station and train isn't arrived on the Station so in that case it is very hard to know the current live status of train.<br>But now with the help of TrainStatusHub its very easy to check the live train status and know the status of train as It will save your time to know the status as well make easier for you to track the train live.<br>Apart from these above mentioned purposes , It can also help you while travelling in train as It will help you know if you are running late or reaching on time and as a result, it will help you to manage your time.</p>
  
  <h4 style="font-family :sans-serif">How to use TrainStatusHub to check Live Train Status ?</h4>
  <div class="divider"></div>
  <p style="font-family :sans-serif">Its very easy for anyone to check Live Train Status with TrainStatusHub.net<br><strong>Follow the Below Steps to Check the Status :</strong></p>
  <ul style="font-family :sans-serif">
  <li><p>1) First go to your Browser and open TrainStatusHub.net and then click on <strong class="font-family : 'Roboto'">Enter Train Number / Train Name</strong> and Enter the Train Number or Train Name you want to check on.</p></li>
  <li><p>2) After following the first step choose the date on which you want to check the live status of train entered by clicking the option of Choose Date and choose any of the five dates given and then click on <strong>Get Live Status button</strong> to proceed further</p></li>
  <li><p>3) After this You would be redirected to another page where you would be able to see the status of the train including the scheduled arrival,scheduled departure,actual departure and actual arrival of the train. Also you will be able to see how much late it is running and where it is currently, basically it will help you know each and every stat regarding live train status .</p></li>
</ul>
  </div>
</div>
</div>

       <footer class="page-footer orange">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Disclaimer</h5>
                <p class="grey-text text-lighten-4">We are not affiliated with The Ministry of Railways in any way and This site does not reproduce, transmit, or store any information, data and content from the official website of Indian Railways.
</p>
              </div>
              <div class="col l4 offset-l2 s12">
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            A Dheeraj Bhatia Product
            </div>
          </div>
        </footer>
</body>
<script type="text/javascript">
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="js/AppController.js"></script>
<!--   <script src="js/jquery.easy-autocomplete.min.js"></script>  -->
  <script src="js/init.js"></script> 
    </body>
  </html>