<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--       <link rel="stylesheet" href="css/easy-autocomplete.min.css">  -->

    </head>
<title>Live Train Status - Find train running status</title>
    <body class="grey lighten-4">
    <div ng-controller="LiveTRSController" ng-app="LiveTRStApp">
<div class="container" id="container" >
<ul class="pager">
  <li id="previousday" ng-click="Previous()" class="previous" style=" margin-left: 25px"><a href="#">Previous Day</a></li>
  <li id="nextday" ng-click="Next()" class="next"><a href="#">Next Day</a></li>
</ul>

      <div id ="box" class="row" >
      <div class="col s12 m4"></div>
      <div class="col s12 m4 center">

          <div class="card-panel">
          
        <div  id="preloaderid" class="row">
          <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  </div>
  <img src ="img/train.png" class="card-circle circle responsive-img" id="errorpic" style="display: none; margin-left: 30% ; margin-right: 30%" >
          
          <div class="row">
        <h3 id="errorheading" class="center bold red-text">Loading....</h3>
</div>
            </div>
            </div>
          </div>
          </div>

<div id="dataTrainLiveStatus" style="display: none">
<!-- Here comes the Heading-->
	<h3 id="headingStatus" class="center-align">Running Status of NGP JAIPUR EXP (11203) Origin Start Date 04/05/2017</h3>
<div class="divider"></div>
	<!-- HEre comes the Table! -->
		<ul class="collection with-header">
        	<li class="collection-header orange"><h4 ng-model="runningheading"  class="white-text center-align" id="trainshortstatus">Train has not started yet.</h4></li>
        </ul>

<table class="table">
		<tr>
 	          <th data-field>No</th>
 	          <th data-field>Station No</th>
 	          <th data-field>Sch. Arrival</th>
 	          <th data-field>Sch. Departure</th>
 	          <th data-field>Actual Arrival</th>
 	          <th data-field>Actual Departure</th>
 	          <th data-field>Distance</th>

         </tr>
  <tr ng-repeat="x in data.route">
  <td>{{ x.no }}</td>
  <td> {{ x.station_.name }}</td>
  <td> {{ x.scharr }} </td>
  <td> {{ x.schdep }} </td>
  <td> {{ x.actarr }} </td>
  <td> {{ x.actdep }} </td>
  <td> {{ x.distance }} </td>
  </tr>
</table>
</div>
</div>
    </body>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="js/AppController.js"></script>
    </html>